# Ignorar bases de datos y documentos con Copyright
chroma_db/
guias_medicas/
docs/
*.pdf

# Ignorar modelos pesados
*.pth
mejor_modelo_v5.pth

# Ignorar variables de entorno (API Keys)
.env

# Entornos virtuales y caché de Python
venv/
env/
__pycache__/
.streamlit/
