streamlit
torch
torchvision
Pillow
numpy
matplotlib
opencv-python-headless
crewai
crewai[litellm]
fpdf
datasets
ragas
langchain-huggingface
langchain-community
langchain-openai
sentence-transformers
pysqlite3-binary
chromadb
langchain-chroma
sentence-transformers