# --- Framework de Interfaz ---
streamlit

# --- Procesamiento de Imágenes y Visión ---
pillow
numpy
opencv-python-headless
matplotlib
torch
torchvision

# --- Orquestación de Agentes (Multi-Agente) ---
crewai
langchain-huggingface
langchain-openai

# --- Evaluación y Métricas (RAGas) ---
ragas
datasets

# --- Utilidades y Documentación ---
fpdf
pysqlite3-binary

# --- Conectores y Modelos de Lenguaje ---
groq
